.Rproj.user
.Rhistory
.RData
.Ruserdata
data/raw/Elgin-EToN_Archive.201701010000-201703312359.csv
data/raw/Elgin-EToN_Archive.201704010000-201706302359.csv
data/raw/Elgin-EToN_Archive.201707010000-201709302359.csv
data/raw/Elgin-EToN_Archive.201710010000-201712312359.csv
data/raw/Elgin_archive_for_2016_2017_notes.xlsx
elgin-data-project
*.docx
docs/~WRL0712.tmp
data/ttvdd_v2.Rds
data/ttvdd_summary.Rds
data/ttvdd.Rds
data/restrictions_v2.Rds
data/restrictions.Rds
data/OS_MM_all.Rds
data/htdd_v2.Rds
data/htdd_msoa_summary.Rds
data/htdd_filtered.Rds
data/htdd.Rds
data/ed_v2.Rds
data/ed_time_summary.Rds
data/ed_log_summary.Rds
data/boundaries/Counties_UA_Generalised/C_UA.cpg
data/boundaries/Counties_UA_Generalised/C_UA.dbf
data/boundaries/Counties_UA_Generalised/C_UA.prj
data/boundaries/Counties_UA_Generalised/C_UA.shp
data/boundaries/Counties_UA_Generalised/C_UA.shx
data/boundaries/Counties_UA_Generalised/C_UA.xml
data/boundaries/LA_2017_Generalised/LA.cpg
data/boundaries/LA_2017_Generalised/LA.dbf
data/boundaries/LA_2017_Generalised/LA.prj
data/boundaries/LA_2017_Generalised/LA.shp
data/boundaries/LA_2017_Generalised/LA.shx
data/boundaries/LA_2017_Generalised/LA.xml
data/boundaries/LA_2017_Ultra_Generalised.zip
data/boundaries/LA_2017_Ultra_Generalised/LA.cpg
data/boundaries/LA_2017_Ultra_Generalised/LA.dbf
data/boundaries/LA_2017_Ultra_Generalised/LA.prj
data/boundaries/LA_2017_Ultra_Generalised/LA.shp
data/boundaries/LA_2017_Ultra_Generalised/LA.shx
data/boundaries/LA_2017_Ultra_Generalised/LA.xml
data/boundaries/MSOA.zip
data/boundaries/MSOA/MSOA.cpg
data/boundaries/MSOA/MSOA.dbf
data/boundaries/MSOA/MSOA.prj
data/boundaries/MSOA/MSOA.shp
data/boundaries/MSOA/MSOA.shx
data/boundaries/MSOA/MSOA.xml
data/boundaries/Scotland.zip
data/boundaries/Scotland/CA_2011_EoR_Scotland.dbf
data/boundaries/Scotland/CA_2011_EoR_Scotland.prj
data/boundaries/Scotland/CA_2011_EoR_Scotland.sbn
data/boundaries/Scotland/CA_2011_EoR_Scotland.sbx
data/boundaries/Scotland/CA_2011_EoR_Scotland.shp
data/boundaries/Scotland/CA_2011_EoR_Scotland.shp.xml
data/boundaries/Scotland/CA_2011_EoR_Scotland.shx
data/boundaries/Scotland/DC_2011_EoR_Scotland.dbf
data/boundaries/Scotland/DC_2011_EoR_Scotland.prj
data/boundaries/Scotland/DC_2011_EoR_Scotland.sbn
data/boundaries/Scotland/DC_2011_EoR_Scotland.sbx
data/boundaries/Scotland/DC_2011_EoR_Scotland.shp
data/boundaries/Scotland/DC_2011_EoR_Scotland.shp.xml
data/boundaries/Scotland/DC_2011_EoR_Scotland.shx
data/boundaries/Scotland/DZ_2011_EoR_Scotland.dbf
data/boundaries/Scotland/DZ_2011_EoR_Scotland.prj
data/boundaries/Scotland/DZ_2011_EoR_Scotland.sbn
data/boundaries/Scotland/DZ_2011_EoR_Scotland.sbx
data/boundaries/Scotland/DZ_2011_EoR_Scotland.shp
data/boundaries/Scotland/DZ_2011_EoR_Scotland.shx
data/boundaries/Scotland/IZ_2011_EoR_Scotland.dbf
data/boundaries/Scotland/IZ_2011_EoR_Scotland.prj
data/boundaries/Scotland/IZ_2011_EoR_Scotland.sbn
data/boundaries/Scotland/IZ_2011_EoR_Scotland.sbx
data/boundaries/Scotland/IZ_2011_EoR_Scotland.shp
data/boundaries/Scotland/IZ_2011_EoR_Scotland.shx
data/boundaries/Scotland/LC_2011_EoR_Scotland.dbf
data/boundaries/Scotland/LC_2011_EoR_Scotland.prj
data/boundaries/Scotland/LC_2011_EoR_Scotland.sbn
data/boundaries/Scotland/LC_2011_EoR_Scotland.sbx
data/boundaries/Scotland/LC_2011_EoR_Scotland.shp
data/boundaries/Scotland/LC_2011_EoR_Scotland.shp.xml
data/boundaries/Scotland/LC_2011_EoR_Scotland.shx
data/boundaries/Scotland/OA_2011_EoR_Scotland.dbf
data/boundaries/Scotland/OA_2011_EoR_Scotland.prj
data/boundaries/Scotland/OA_2011_EoR_Scotland.sbn
data/boundaries/Scotland/OA_2011_EoR_Scotland.sbx
data/boundaries/Scotland/OA_2011_EoR_Scotland.shp
data/boundaries/Scotland/OA_2011_EoR_Scotland.shx
data/boundaries/Scotland/WD_2011_EoR_Scotland.dbf
data/boundaries/Scotland/WD_2011_EoR_Scotland.prj
data/boundaries/Scotland/WD_2011_EoR_Scotland.sbn
data/boundaries/Scotland/WD_2011_EoR_Scotland.sbx
data/boundaries/Scotland/WD_2011_EoR_Scotland.shp
data/boundaries/Scotland/WD_2011_EoR_Scotland.shp.xml
data/boundaries/Scotland/WD_2011_EoR_Scotland.shx
*.gpkg
